/* Folha de estilo do site One Page HTML5 e CSS3
   @author Caldwell Silva
*/

/* CSS Reset */
*{
    margin:0;
    border:0;
    padding:0;
}

/* Smartphone portrait */


/* Smartphone landscape */
@media (min-width: 576px) {
    body{
        background-color: #0ff;
    }
}

/* Tablet portrait */
@media (min-width: 768px) {
    body{
        background-color: #ff0;
    }
}

/* Tablet landscape */
@media (min-width: 992px) {
    body{
        background-color: #ff6600;
    }
}

/* PC */
@media (min-width: 1200px) {
    body{
        background-color: #ff0000;
    }
}
